.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.nav {
  padding-left: 10px;
  background-color: #008000;
  text-align: center;
}
.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
.nav > li:hover {
  background-color: #006400;
}
.nav > li > a {
  color: white;
  text-decoration: none;
}